/*
===============================================================
  * Author: Manas P
  * Title: Modern E-Commerce Webste Landing Page
  * Page: style.css
  * Responsive Website
  * Colors Used: Black, White, Orange(With 100% & 25% Opacity)
===============================================================
*/

/* To Remove Unwanted Margin */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Varela Round", sans-serif;
  overflow-x: hidden;
}

/*
===============
  Landing Page
===============
*/

/*
============================
  Preloader Animation Start
============================
*/
.preloader {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  transition: all 1s ease;
}

.preloader h1 {
  color: #000;
  font-size: 1.8229166666666667vw;
}

.preloader_logo img {
  height: 10vw;
  animation: preloader_logo 1s ease infinite alternate;
}

/* Animate Icon of Preloader */
@keyframes preloader_logo {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(150px);
  }
}

/* To End Preloader */
.preload_finish {
  opacity: 0;
  pointer-events: none;
}
/*
=============================
  End of Preloader Animation
=============================
*/

header {
  position: fixed;
  display: flex;
  width: 100vw;
  top: 0;
  height: 13vh;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0.20833333333333334vw 1.5625vw rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.logo-container,
.nav-links {
  display: flex;
}

.logo-container img {
  width: 11.458333333333334vw;
  height: 4.869791666666667vw;
  margin-left: 5.729166666666667vw;
  z-index: 10;
}

.logo-container {
  flex: 1;
}

nav {
  flex: 1;
}

.nav-links {
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  margin-right: 2.6041666666666665vw;
}

.nav-link {
  text-decoration: none;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.nav-link button {
  background: #ffd2bf;
  border-radius: 2.6041666666666665vw;
  width: 5.989583333333333vw;
  height: 2.34375vw;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
}

.nav-link button:hover {
  background: #ff4d00;
  transition: ease 1s;
  color: #fff;
}

.nav_btn {
  display: none;
  float: right;
  cursor: pointer;
  margin-right: 20px;
  z-index: 10;
}

.nav_btn div {
  width: 30px;
  height: 2px;
  background-color: #ff4d00;
  margin: 7px;
  transition: all 0.5s ease;
}

/* Toggle for Night Mode */
.toggleNight {
  background: #fff;
  border: 0.15625vw solid #000;
  width: 2.6041666666666665vw;
  height: 1.4583333333333333vw;
  cursor: pointer;
  border-radius: 2.6041666666666665vw;
  transition: ease 0.7s;
}

.toggleNight:before {
  content: "";
  position: absolute;
  width: 0.9375vw;
  height: 0.9375vw;
  margin-top: 0.10416666666666667vw;
  margin-left: 0.10416666666666667vw;
  background: #ff4d00;
  border-radius: 100%;
  transition: ease 0.7s;
}

.toggleNight.active {
  border: 0.15625vw solid #fff;
  background: #000;
}

.toggleNight.active:before {
  margin-left: 1.25vw;
}

.header_flow img {
  margin-top: 13vh;
  width: 100vw;
}

.header_flow_res {
  display: none;
}

.container1 {
  height: auto;
  padding-bottom: 5.208333333333333vw;
}

.container1 .sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: auto;
}

.container1 .section1 {
  padding-left: 5.729166666666667vw;
  padding-right: 7.8125vw;
  text-align: center;
  margin-top: 5.208333333333333vw;
}

.container1 .section1 h1 {
  font-weight: bold;
  font-size: 5.208333333333333vw;
  line-height: 7.8125vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 3px #000);*/
}

.container1 .section1 p {
  font-size: 2.0833333333333335vw;
  line-height: 3.90625vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 2px #000);*/
}

.container1 .section1 img:nth-child(1) {
  position: absolute;
  top: 15.625vw;
  left: 28.645833333333332vw;
  height: 18.229166666666668vw;
  z-index: -1;
}

.container1 .section1 img:nth-child(2) {
  position: absolute;
  top: 36.458333333333336vw;
  left: 5.208333333333333vw;
  height: 10.416666666666666vw;
  z-index: -1;
}

.container1 .section2 img:nth-child(1) {
  width: 36.458333333333336vw;
  height: 21.041666666666668vw;
  margin-top: 4.6875vw;
  margin-left: 6.25vw;
  filter: drop-shadow(0px 0.052083333333333336vw 0.2604166666666667vw #000);
}

.container1 .section2 img:nth-child(2) {
  position: absolute;
  width: 49.0625vw;
  height: 41.666666666666664vw;
  left: 50.9375vw;
  top: 10.729166666666666vw;
  z-index: -1;
}

.container2 {
  height: auto;
  padding-top: 7.8125vw;
  padding-bottom: 2.6041666666666665vw;
}

.container2 .sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: auto;
}

.container2 .section1mob {
  display: none;
}

.container2 .section1 img:nth-child(1) {
  height: 26.041666666666668vw;
  margin-top: 7.8125vw;
  margin-left: 10.416666666666666vw;
  filter: drop-shadow(0px 0.052083333333333336vw 0.2604166666666667vw #000);
}

.container2 .section1 img:nth-child(2) {
  position: absolute;
  height: 44.270833333333336vw;
  width: 44.270833333333336vw;
  left: 0px;
  z-index: -1;
}

.container2 .section2 {
  padding-left: 5.729166666666667vw;
  padding-right: 7.8125vw;
  text-align: center;
  margin-top: 5.208333333333333vw;
}

.container2 .section2 h1 {
  font-weight: bold;
  font-size: 5.208333333333333vw;
  line-height: 7.8125vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 3px #000);*/
}

.container2 .section2 p {
  font-size: 1.5625vw;
  line-height: 2.6041666666666665vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 2px #000);*/
}

.container2 .btn {
  padding-top: 2.0833333333333335vw;
  padding-bottom: 2.0833333333333335vw;
}

.container2 button {
  background: #ffd2bf;
  border-radius: 2.6041666666666665vw;
  width: 13.020833333333334vw;
  height: 4.166666666666667vw;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
}

.container2 button:hover {
  background: #ff4d00;
  transition: ease 1s;
  color: #fff;
  box-shadow: 0px 0.20833333333333334vw 1.5625vw #ff4d00;
}

.container2 .section2 img:nth-child(1) {
  position: absolute;
  height: 15.625vw;
  right: 7.8125vw;
  margin-top: -3.90625vw;
  z-index: -1;
}

.container2 .section2 img:nth-child(2) {
  position: absolute;
  height: 7.8125vw;
  margin-top: 12.760416666666666vw;
  right: 33.854166666666664vw;
  z-index: -1;
}

.container3 {
  height: auto;
  padding-top: 7.552083333333333vw;
  padding-bottom: 5.208333333333333vw;
}

.container3 .pattern img:nth-child(1) {
  position: absolute;
  width: 12.5vw;
  height: 87vh;
  z-index: -1;
}

.container3 .pattern img:nth-child(2) {
  position: absolute;
  width: 12.5vw;
  height: 87vh;
  right: 0px;
  z-index: -1;
}

.container3 .pattern img:nth-child(3) {
  position: absolute;
  margin-left: 23.4375vw;
  margin-top: 10.416666666666666vw;
  height: 7.8125vw;
  z-index: -1;
}

.container3 .pattern img:nth-child(4) {
  position: absolute;
  right: 23.4375vw;
  margin-top: 2.0833333333333335vw;
  height: 13.020833333333334vw;
  z-index: -1;
}

.container3 .pattern img:nth-child(5) {
  position: absolute;
  right: 41.666666666666664vw;
  margin-top: 26.041666666666668vw;
  height: 10.416666666666666vw;
  z-index: -1;
}

.container3 .sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  row-gap: 10.416666666666666vw;
  padding: 5.208333333333333vw 5.208333333333333vw 0px 5.208333333333333vw;
}

.container3 .items img {
  border-radius: 100%;
  height: 10.416666666666666vw;
  cursor: pointer;
  filter: drop-shadow(0px 0.052083333333333336vw 0.2604166666666667vw #000);
}

.container3 .items h2 {
  font-size: 1.3020833333333333vw;
}

.container3 .items {
  display: flex;
  flex-direction: column;
}

/* Quantity Box */

.containerQuantity {
  margin-top: 0.78125vw;
}

.containerQuantity input {
  border: 0.15625vw solid #000;
  outline: none;
  padding: 0.5208333333333334vw;
  border-radius: 0.78125vw;
  font-size: 1.0416666666666667vw;
  font-weight: bold;
  margin: 0 0.78125vw !important;
  box-shadow: 0 0.10416666666666667vw 0.2604166666666667vw rgba(0, 0, 0, 0.5);
}

.containerQuantity button {
  background: #ffd2bf;
  color: #000;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.5208333333333334vw;
  padding: 0px 0.78125vw;
  box-shadow: 0 0.10416666666666667vw 0.2604166666666667vw rgba(0, 0, 0, 0.5);
  transition: 0.7s;
}

.containerQuantity button:hover {
  background: #ff4d00;
  color: #000;
}

.price {
  color: #000;
  margin-top: 1.0416666666666667vw;
  font-size: 1.0416666666666667vw;
  font-weight: bold;
}

.quantityBtn input[type="submit"] {
  margin-top: 1.0416666666666667vw;
  border-radius: 2.6041666666666665vw;
  border: none;
  height: 2.0833333333333335vw;
  width: 7.03125vw;
  color: #000;
  background: #ffd2bf;
  font-size: 1.0416666666666667vw;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0.10416666666666667vw 0.2604166666666667vw rgba(0, 0, 0, 0.5);
}

.quantityBtn input[type="submit"]:hover {
  color: #fff;
  background: #ff4d00;
  transition: ease 0.7s;
}

/* End of Quantity */

.container4 {
  height: auto;
  padding-top: 5.208333333333333vw;
  padding-bottom: 5.208333333333333vw;
}

.container4 .sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: auto;
}

.container4 .section2 img:nth-child(1) {
  height: 24.739583333333332vw;
  margin-top: 9.895833333333334vw;
  margin-left: 9.114583333333334vw;
  filter: drop-shadow(0px 0.052083333333333336vw 0.2604166666666667vw #000);
}

.container4 .section2 img:nth-child(2) {
  position: absolute;
  height: 44.270833333333336vw;
  width: 44.270833333333336vw;
  right: 0px;
  z-index: -1;
}

.container4 .section1 {
  padding-left: 9.114583333333334vw;
  padding-right: 6.510416666666667vw;
  text-align: center;
  margin-top: 10.416666666666666vw;
}

.container4 .section1 h1 {
  font-weight: bold;
  font-size: 5.208333333333333vw;
  line-height: 7.8125vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 3px #000);*/
}

.container4 .section1 p {
  font-size: 1.5625vw;
  line-height: 2.6041666666666665vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 2px #000);*/
}

.container4 .btn {
  padding-top: 2.0833333333333335vw;
  padding-bottom: 2.0833333333333335vw;
}

.container4 button {
  background: #ffd2bf;
  border-radius: 2.6041666666666665vw;
  width: 13.020833333333334vw;
  height: 4.166666666666667vw;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
}

.container4 button:hover {
  background: #ff4d00;
  transition: ease 1s;
  color: #fff;
  box-shadow: 0px 0.20833333333333334vw 1.5625vw #ff4d00;
}

.container4 .section1 img:nth-child(1) {
  position: absolute;
  height: 15.625vw;
  left: 6.510416666666667vw;
  margin-top: -3.90625vw;
  z-index: -1;
}

.container4 .section1 img:nth-child(2) {
  position: absolute;
  height: 7.8125vw;
  left: 41.666666666666664vw;
  margin-top: 15.625vw;
  z-index: -1;
}

.container5 {
  height: auto;
  padding-top: 7.8125vw;
  padding-bottom: 2.6041666666666665vw;
}

.container5 .sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: auto;
}

.container5 .section1mob {
  display: none;
}

.container5 .section1 img:nth-child(1) {
  height: 24.739583333333332vw;
  margin-top: 10.416666666666666vw;
  margin-left: 10.15625vw;
  filter: drop-shadow(0px 0.052083333333333336vw 0.2604166666666667vw #000);
}

.container5 .section1 img:nth-child(2) {
  position: absolute;
  height: 44.270833333333336vw;
  width: 44.270833333333336vw;
  left: 0px;
  z-index: -1;
}

.container5 .section2 {
  padding-left: 5.729166666666667vw;
  padding-right: 7.8125vw;
  text-align: center;
  margin-top: 10.416666666666666vw;
}

.container5 .section2 h1 {
  font-weight: bold;
  font-size: 5.208333333333333vw;
  line-height: 7.8125vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 3px #000);*/
}

.container5 .section2 p {
  font-size: 1.5625vw;
  line-height: 2.6041666666666665vw;
  color: #000000;
  /*filter: drop-shadow(0px 1px 2px #000);*/
}

.container5 .btn {
  padding-top: 2.0833333333333335vw;
  padding-bottom: 2.0833333333333335vw;
}

.container5 button {
  background: #ffd2bf;
  border-radius: 2.6041666666666665vw;
  width: 13.020833333333334vw;
  height: 4.166666666666667vw;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
}

.container5 button:hover {
  background: #ff4d00;
  transition: ease 1s;
  color: #fff;
  box-shadow: 0px 0.20833333333333334vw 1.5625vw #ff4d00;
}

.container5 .section2 img:nth-child(1) {
  position: absolute;
  height: 15.625vw;
  right: 7.8125vw;
  margin-top: -3.90625vw;
  z-index: -1;
}

.container5 .section2 img:nth-child(2) {
  position: absolute;
  height: 7.8125vw;
  margin-top: 12.760416666666666vw;
  right: 33.854166666666664vw;
}

.container3 .itemse img {
  height: 10.416666666666666vw;
  filter: drop-shadow(0px 0.052083333333333336vw 0.2604166666666667vw #000);
}

.container3 .itemse h2 {
  font-size: 1.3020833333333333vw;
}

.container7 {
  height: auto;
  padding-top: 10.416666666666666vw;
  padding-bottom: 10.416666666666666vw;
}

.container7 h1 {
  font-weight: bold;
  font-size: 3.125vw;
}

.container7 .box {
  background: #ffd2bf;
  padding: 2.6041666666666665vw;
  text-align: center;
  margin-left: 20.833333333333332vw;
  margin-right: 20.833333333333332vw;
  border-radius: 2.6041666666666665vw;
}

.bubble1 {
  position: absolute;
  left: 7.8125vw;
  height: 10.416666666666666vw;
  margin-top: -5.208333333333333vw;
}

.bubble2 {
  position: absolute;
  right: 7.8125vw;
  height: 10.416666666666666vw;
  margin-top: 13.020833333333334vw;
}

.avtr1 {
  border-radius: 100%;
  height: 7.8125vw;
  margin: 1.5625vw 1.0416666666666667vw 1.5625vw 1.0416666666666667vw;
}

.avtr2 {
  border-radius: 100%;
  height: 10.416666666666666vw;
  margin: 1.5625vw 1.0416666666666667vw 1.5625vw 1.0416666666666667vw;
}

.avtr3 {
  border-radius: 100%;
  height: 7.8125vw;
  margin: 1.5625vw 1.0416666666666667vw 1.5625vw 1.0416666666666667vw;
}

.final_container {
  padding-top: 0.4166666666666667vw;
  padding-bottom: 0px;
}

.final_container img {
  position: absolute;
}

footer {
  padding-top: 13.020833333333334vw;
}

.logo_ft img {
  height: 5.208333333333333vw;
  margin-left: -5.208333333333333vw;
}

.lastPatt {
  width: 100vw;
}

footer p {
  margin-top: 7.8125vw;
  color: #000;
  font-weight: bold;
  font-size: 1.0416666666666667vw;
}

/*
===============
  Sign In Page
===============
*/

.signContainer1 {
  height: auto;
}

.signContainer1 .sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}

.signContainer1 .section1 img:nth-child(1) {
  position: absolute;
  width: 47.2140625vw;
  height: 47.916666666666664vw;
  left: -2.7604166666666665vw;
  top: 4.53125vw;
  z-index: -1;
}

.signContainer1 .section1 img:nth-child(2) {
  height: 29.947916666666668vw;
  margin-top: 1.0416666666666667vw;
  margin-left: 8.333333333333334vw;
}

.signContainer1 .section2 .box {
  width: 26.041666666666668vw;
  height: 26.041666666666668vw;
  margin-top: 3.90625vw;
  margin-left: 7.8125vw;
  margin-bottom: 3.90625vw;
  background: #fff;
  box-sizing: border-box;
  box-shadow: -0.78125vw 0.78125vw 3.125vw rgba(0, 0, 0, 0.5);
  border-radius: 3.8020833333333335vw;
  padding: 2.6041666666666665vw 5.208333333333333vw 2.6041666666666665vw
    5.208333333333333vw;
}

.signContainer1 .section2 h1 {
  font-weight: bold;
  font-size: 2.0833333333333335vw;
  letter-spacing: 0.10416666666666667vw;
  text-align: center;
  padding-bottom: 2.6041666666666665vw;
}

.signContainer1 .section2 input {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 0.10416666666666667vw solid #000;
}

.signContainer1 .section2 .btnSub {
  text-align: center;
}

.signContainer1 .section2 input[type="submit"] {
  border-radius: 2.6041666666666665vw;
  border: none;
  height: 2.6041666666666665vw;
  width: 10.416666666666666vw;
  color: #000;
  background: #ffd2bf;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10.416666666666666vw;
  outline: none;
}

.signContainer1 .section2 input[type="submit"]:hover {
  color: #fff;
  background: #ff4d00;
  transition: ease 1s;
}

.signContainer1 .section2 input[type="text"] {
  width: 100%;
}

.signContainer1 .section2 input[type="password"] {
  width: 100%;
}

.signContainer1 .section2 .form-group1 {
  width: 15.625vw;
  height: auto;
  position: absolute;
}

.signContainer1 .section2 .form-group2 {
  width: 15.625vw;
  height: auto;
  position: absolute;
  margin-top: 5.208333333333333vw;
}

.signContainer1 .section2 .form-control {
  position: relative;
  height: 2.6041666666666665vw;
  font-size: 1.0416666666666667vw;
  border: none;
  border-radius: 0;
  border-bottom: 0.10416666666666667vw solid #000;
  transition: 0.5s ease-in-out;
}

.signContainer1 .section2 label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.9375vw;
  line-height: 2.6041666666666665vw;
  pointer-events: none;
  transition: 0.7s ease;
}

.signContainer1 .section2 .form-control:focus + label,
.form-control:valid + label {
  top: -1.5625vw;
  padding-left: 0;
  font-size: 0.7291666666666666vw;
  color: #ff4d00;
}

.signContainer1 .section2 input:focus,
.signContainer1 .section2 input:valid {
  border-bottom: 0.10416666666666667vw solid #ff4d00;
}

.signContainer1 .section2 p {
  text-align: center;
  margin-top: 2.0833333333333335vw;
  cursor: pointer;
  font-size: 0.9375vw;
  color: #000;
  font-weight: bold;
}

.signContainer1 .section2 p:hover {
  color: #ff4d00;
  transition: ease 0.5s;
}

.signContainer1 .section2 a {
  text-decoration: none;
}

/*
===============
  Sign Up Page
===============
*/

.signContainer1 .sectionup img:nth-child(1) {
  position: absolute;
  width: 47.2140625vw;
  height: 81.5vw;
  left: -2.7604166666666665vw;
  top: 4.53125vw;
  z-index: -1;
}

.signContainer1 .sectionup img:nth-child(2) {
  height: 29.947916666666668vw;
  margin-top: 1.0416666666666667vw;
  margin-left: 8.333333333333334vw;
}

.info {
  display: block;
  font-size: 1.3020833333333333vw;
}

.info2 {
  display: none;
}

.signContainer1 .sectionSignUp .box {
  width: 26.041666666666668vw;
  height: auto;
  margin-top: 3.90625vw;
  margin-left: 7.8125vw;
  margin-bottom: 3.90625vw;
  background: #fff;
  box-sizing: border-box;
  box-shadow: -0.78125vw 0.78125vw 3.125vw rgba(0, 0, 0, 0.5);
  border-radius: 3.8020833333333335vw;
  padding: 2.6041666666666665vw 5.208333333333333vw 2.6041666666666665vw
    5.208333333333333vw;
}

.signContainer1 .sectionSignUp h1 {
  font-weight: bold;
  font-size: 2.0833333333333335vw;
  letter-spacing: 0.10416666666666667vw;
  text-align: center;
  padding-bottom: 2.6041666666666665vw;
}

.signContainer1 .sectionSignUp input {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 0.10416666666666667vw solid #000;
}

.signContainer1 .sectionSignUp .btnSub {
  text-align: center;
}

.signContainer1 .sectionSignUp input[type="submit"] {
  border-radius: 2.6041666666666665vw;
  border: none;
  height: 2.6041666666666665vw;
  width: 10.416666666666666vw;
  color: #000;
  background: #ffd2bf;
  font-size: 1.3020833333333333vw;
  font-weight: bold;
  cursor: pointer;
  margin-top: 46.875vw;
  outline: none;
}

.signContainer1 .sectionSignUp input[type="submit"]:hover {
  color: #fff;
  background: #ff4d00;
  transition: ease 1s;
}

.signContainer1 .sectionSignUp input {
  width: 100%;
}

.signContainer1 .sectionSignUp textarea {
  width: 100%;
  outline: none;
  height: 5.208333333333333vw;
}

.signContainer1 .sectionSignUp .form-group1 {
  width: 15.625vw;
  position: absolute;
}

.signContainer1 .sectionSignUp .form-group2 {
  width: 15.625vw;
  position: absolute;
  margin-top: 5.208333333333333vw;
}
.signContainer1 .sectionSignUp .form-group3 {
  width: 15.625vw;
  position: absolute;
  margin-top: 10.416666666666666vw;
}
.signContainer1 .sectionSignUp .form-group4 {
  width: 15.625vw;
  position: absolute;
  margin-top: 15.625vw;
}
.signContainer1 .sectionSignUp .form-group5 {
  width: 15.625vw;
  position: absolute;
  margin-top: 20.833333333333332vw;
}
.signContainer1 .sectionSignUp .form-group6 {
  width: 15.625vw;
  position: absolute;
  margin-top: 26.041666666666668vw;
}
.signContainer1 .sectionSignUp .form-group7 {
  width: 15.625vw;
  position: absolute;
  margin-top: 31.25vw;
}
.signContainer1 .sectionSignUp .form-group8 {
  width: 15.625vw;
  position: absolute;
  margin-top: 36.458333333333336vw;
}
.signContainer1 .sectionSignUp .form-group9 {
  width: 15.625vw;
  position: absolute;
  margin-top: 41.666666666666664vw;
}

.signContainer1 .sectionSignUp .form-group3 label {
  top: -1.5625vw;
  padding-left: 0;
  font-size: 0.7291666666666666vw;
  color: #000;
}

.signContainer1 .sectionSignUp .form-control {
  position: relative;
  height: 1.5625vw;
  font-size: 0.9375vw;
  border: none;
  border-radius: 0;
  border-bottom: 0.10416666666666667vw solid #000;
  transition: 0.5s ease-in-out;
}

.signContainer1 .sectionSignUp label {
  position: absolute;
  top: -0.5208333333333334vw;
  left: 0;
  font-size: 1.0416666666666667vw;
  line-height: 2.6041666666666665vw;
  color: #7d7d7d;
  pointer-events: none;
  transition: 0.7s ease;
}

.signContainer1 .sectionSignUp .form-control:focus + label,
.form-control:valid + label {
  top: -2.0833333333333335vw;
  padding-left: 0;
  font-size: 0.7291666666666666vw;
  color: #ff4d00;
}

.signContainer1 .sectionSignUp input:focus,
.signContainer1 .sectionSignUp input:valid,
.signContainer1 .sectionSignUp textarea:focus,
.signContainer1 .sectionSignUp textarea:valid {
  border-bottom: 0.10416666666666667vw solid #ff4d00;
}

.error_form {
  color: red;
  font-size: 0.8333333333333334vw;
}
